/*Mobile part*/
@media screen and (max-width: 767px) {
  /* navigation */
  .nav-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .nav-infor {
    width: auto;
    height: auto;
    padding: 8px 0;
  }

  /* about */
  #about {
    background: linear-gradient(to bottom, #f7f7f7 50%, #efefef 50%);
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* job-information */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  /* certificate */
  .certi {
    margin-bottom: 24px;
    font-size: 13px;
  }
  .certi img {
    width: 100%;
    height: auto;
  }
  .certi-2,
  .certi-3 {
    padding-top: 24px;
    border-top: 1px solid rgb(214, 138, 111);
  }

  /* project */
  .project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }
}
